[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TestApp12
Exec=/usr/bin/invoker --type=d -s /opt/TestApp12/bin/TestApp12
Icon=/usr/share/icons/hicolor/80x80/apps/TestApp1280.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
